*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: 1px solid #f2f2f2;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo{
    font-size: 26px;
    font-weight: 600;
}

.form-container{
    width: 60%;
    margin-top: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.form-title{
    font-size: 36px;
    margin-bottom: 2.5rem;
    font-weight: 1;
    opacity: 0.8;
}

.checkout-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

label{
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container .input-line{
    width: 48%;
}

input[type="button"]{
    background-color: rgb(0, 132, 255);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: rgb(4, 88, 167);
}